# Build outputs
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# External dependencies (FFmpeg vb.)
External/
ffmpeg.exe
ffprobe.exe

# Logs
Logs/
*.log

# Publish profiles
**/PublishProfiles/

# Test results
TestResults/
test-results.txt

# User-specific files
*.rsuser
*.userosscache
/installer/UniCast-Setup.exe
